.sign-up{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    background-color: var(--background);
    min-height: 300px;
    width: 90%;
    max-width: 450px;
    color:var(--normal-text);
    padding: 1rem .4rem;
    border-radius:10px;
    header{
        color: var(--green-color);
        background-color: transparent;
        width: 100%;
        text-align: center;
    }
    .form-heading{

        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        p{
            width: 100%;
            margin-top: .5rem;
        }
    }

    .cross-btn{
        position:absolute;
        background-color:transparent;
        color:var(--normal-text);
        border:none;
        font-size:1.4rem;
        right:1rem;
        top:1rem;
        &:hover{
            cursor: pointer;
        }
    }

   

    .sign-up-background{
        display: none;
    }

    .feilds-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .feild{
            display:flex;
            flex-direction: column;

            margin-top:1rem;

            label{
                font-weight: 600;
                font-size:1.2rem;
            }

            input,button{
                margin-top:.3rem;
                font-size:1.2rem;
                padding:.4rem .2rem;
                background-color: var(--light-background);
                border:none;
                border-radius:6px;
                color:var(--normal-text);
            }

            button{
                background-color:var(--green-color);
            }
            .link-btn{
                border:none;
                color:blue;
                background-color: transparent;
                font-size: 1rem;
            }
        }
    }

    
}