.landing-page{
     //height: 00px;
    max-width: 100vw;
    padding: .5rem;
    background-color: var(--background);
    //header styles
    header{
    width: 100%;
    //margin-bottom: 1.4rem;
    padding-top: .6rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .nav-links ul,.nav-icons{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-links{
        position: fixed;
        width: 200px;
        height: 100vh;
        top: 0;
        left: -200px;
        bottom:0;
        background-color: var(--red-color);
        z-index: 111111111111;
        // transform: translate(-100%,0);
        ul{
            list-style: none;
            flex-direction: column;
            align-items: flex-start;
            padding: 1.5rem 1rem;
            font-size: 1.4rem;
            font-weight: 600;
            .navlink{
                color: var(--not-normal-light-text);
                cursor: pointer;
            }
            .navlink.active{
                color:var(--not-normal-text);
                transform: scale(1.1);
                transform-origin: center;
            }
        }
        li:not(:first-child){
            margin-top: 1rem;
        }
        .theme-button{
            color:var(--not-normal-text);
            font-weight: 600;
            i{
                transition: all .3s ease;
            }
        }
    }

    .nav-icons{
        i{
            font-size: 1.4rem;
            &:first-child{
                margin-right: 1rem;
            }
        }
    }
    }

    //heding title
    .heading-title{
        //margin: 1.rem 0;
        font-size: 1.4rem;
    }
    .heading-para{
        margin-top: 1rem;
    }
    .call-to-action{
        width: 100%;
        display: flex;
        margin: 1.2rem 0;
        .transparent-button{
            margin-left: 1rem;
        }
    }

    //landing page img
    .image-wrapper{
        width: 100%;
        display: flex;
        align-items:center;
        justify-content:center;
        .image-container{
            width: 18rem;
            height: 18rem;
            img{
                width: 100%;
                height:100%;
            }
        }
    }
    .image-wrapper.second{
        display: none;
    }

    //search bar 

    .search-bar{
        margin:1rem auto;
        width: 100%;
        height:2.5rem;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
        box-shadow: 0px 8px 29px rgba(0, 0, 0, 0.23);
        background-color: var(--light-background);
        form{
            width:100%;
            display:flex;
            height:100%;
            input{
                border:none;
                height:100%;
                flex: 1;
                padding:.3rem;
                background-color:transparent;
                outline: none;
                font-size: 1.2rem;
                color:var(--normal-text);
                &::placeholder{
                    color:var(--light-text)
                }
            }
        }
    }


}