@media all and (min-width:600px){

    //global style changes
    .overlay{
    z-index:111111111111;
    }

    //nav bar
    header{
        .menu-icon{
            display: none;
        }
        .nav-links{
            position: relative;
            width: 100%;
            height: 100%;
            left: 0;
            background-color: transparent;
            ul{
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 0;
                li{
                    cursor: pointer;
                    margin:0;
                }
                .navlink{
                    margin: 0 1rem;
                    color: var(--light-text);
                    cursor: pointer;
                    font-size: 1rem;
                }
                .navlink.active{
                    color:var(--normal-text);
                    transform: scale(1.1);
                    transform-origin: center;
                }
                .theme-button{
                    color:var(--normal-text);
                    font-size:1rem;
                }
                li:not(:first-child){
                    margin-top: 0;
                }
            }
        }
    }


    //landing page queries
    .landing-page{
       padding: .5rem 1rem;
        .content-wrapper{
            width: 100%;
            height: 100%;
            display:flex;
            justify-content: space-between;
            &>div{
                flex:1;
            }
            .image-wrapper.second{
                display: flex;
            }
            .image-wrapper.first{
                display: none;
            }
        }

        footer{
            display: none;
        }
        .search-bar{
            max-width: 100%;
        }
    }

    //home page
    .home-page{
        .cart-card{
        grid-template-columns: auto auto;
        text-align: left;
            .hero{
                grid-area:1/1/ span 2 / span 1;
            }
        }

        .flex-container{
            flex-direction: row;
            .text-container{
                flex:.6;
            }
            .image-container{
                flex:.4;
                display: flex;
                align-items:center;
                justify-content:flex-end;
            }
        }
    }

    //menu page
    .menu-page{

        .items-container{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

// footer
    footer{

        .top-section{
            flex-direction: row;

            .section-left{
                flex:.7;

                nav{
                    display:flex;
                    ul{
                        display:flex;
                        color:var(--normal-text);
                        list-style: none;
                        li{
                            font-weight: 600;
                        }
                        li:not(:first-child){
                            margin:0 2rem;
                        }
                    }
                }

                .social-icons{
                    width:40%;
                    margin-top:1rem;
                    i{
                        color:var(--red-color)
                    }
                }
            }

            .section-right{
                flex:.3;
                margin-top:0;
            }
        }

        .bottom-section{
            display:flex;
            address{
                flex:.7;
            }
            .contact{
                flex:.3;
                display:flex;
                flex-direction:column;
                align-items: flex-end;
            }
        }
    }

    // cart page
    .cart-page{
        min-height: 60vh;
        main{
            flex-direction: row;
           // align-items: center;
            justify-content: space-around;
            //background-color: black;
            height: 100%;
            .products{
                //min-height: 60vh;
                height: 100%;
                max-height: 100%;
                overflow-y: auto;
                flex:.6;
                scrollbar-width: none;
                //overflow:visible;
                &::-webkit-scrollbar {
                    display: none;
                  }
            }

            .price-description{
                //position: fixed;
                width: 50%;
                padding: 0 1.4rem;
                flex:.38;
                color:var(--normal-text);
                border-radius: 10px;
                height: 15rem;
                margin:0 auto;
            }
        }
    }

    //offers page
    .offers-page{
        .offers-container{
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0 1rem;
            .card{
              flex-direction: column;  
              text-align: center;
              padding: .5rem .4rem;

              .apply-promo{
                margin-top: 1rem;
                height: 2rem;
              }
              
            }
        }
    }

    //forms
    .sign-up{
        display: flex;
        align-items:center;
        justify-content:space-around;
        border-radius: 10px;
        min-height: 400px;
        max-width: 750px;
        form{
            max-width: 40%;
        }
        .sign-up-background{
            display: block;
           // background-color: gainsboro;
            height: 100%;
            flex:.6;
            img{
                height: 100%;
                width: 100%;
            }
        }
    }
}


// large screens 

@media all and (min-width:1300px){
    body{
        background-color: var(--light-background);
    }
    .App{
        width: 80%;
        margin:0 auto;
    }
}

