
*,*:before,*:after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --green-color:#7CD19E;
    --red-color:#EE2A3E;
    --light-text:#6C545C;
    --normal-text:#000000;
    --not-normal-text:#fff;
    --not-normal-light-text:rgba(255, 255, 255, 0.699);
    --light-background:rgb(233, 233, 233);
    --background:#fff;
}

body{
    font-family: 'Montserrat', sans-serif;
    &>*{
        outline: none;
    }
}

input,button{
    outline:none;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
}


.App.dark-mode{
    --normal-text:#ffffff;
    --background:rgb(14, 13, 13);
    --light-background:rgb(29, 28, 28);
    --light-text:#585858;
    --not-normal-light-text:rgba(0, 0, 0, 0.699);
    --not-normal-text:rgb(0, 0, 0);


}

//veg non veg symbol
span.square{
    height: 1rem;
    width: 1rem;
    background-color: var(--background);
    border:2px solid black;

    display:flex;
    align-items: center;
    justify-content: center;
    .circle{
        height: 60%;
        width: 60%;
        border-radius: 50%;
        background-color: black;
    }

    &.veg{
        border:2px solid rgb(0, 255, 98);
        .circle{
            background-color: rgb(0, 255, 98);
        }
    }

    &.non-veg{
        border:2px solid rgb(255, 0, 0);
        .circle{
            background-color: rgb(255, 0, 0);
        }
    }
}

//overlay 
.overlay{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0, 0, 0, 0.8);
    z-index:5;
}

.loader{
    display:flex;
    align-items:center;
    justify-content:center; 
}

.error{
    color:var(--red-color)
}


@import "./config";
@import "./nav";
@import './landingPage';
@import "./form";
@import "./homepage";
@import "./menu";
@import "./cart"; 
@import "./myorders"; 
@import "./offer";  
@import "./popup";
@import "./footer";
@import "./responsive"